*{
    margin: 0;
    padding: 0;
}
body {
    background: #FAF0E6;
}
.header-comtent  {
    position: relative;    
    margin-bottom: 2rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.65));
    border-radius: 10px;
    text-align: center;
}

.header-title2 {
    margin: 0 auto;
    text-align: center;
    justify-content:center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;

}
.content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content:center;
    align-items: center;   
    
}
.content2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content:center;
    align-items: center;     
}
.content3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content:center;
    align-items: center;    
}
.container2 {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}
.footer {
    background: #929ECC;
    height: 50%;
    width: 50%;
    justify-content:center;
    text-align: center;
    align-items: center;
}
.footer-top>h1{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    height: 160px;
    border-bottom: 1px solid #CDD1D4;
    align-items: center;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    text-align: center; 
}
.btm-menu2  {
    text-decoration: none;
    color: green;
    position: relative;
    font-size: 1.5rem;
    height: 20px;
    align-items: center;
}
.social {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 2rem;
    font-family: arial;
    justify-content: space-between;
}
.social>pp{
    margin-bottom: 50px;  
    margin-top: 30px; 
    justify-content: space-between;
}
.pp2{
    margin-bottom: 30px;
}
.pp3{
    margin-bottom: 30px;
}
.pp4{
    margin-bottom: 30px;
}