@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #FAF0E6;

}
nav
{
    background-color: #87CEFA;   
    width: 100%;
    height: 35px;
    left: 18px;
    top: 11px;    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.65));
}
.LOGO {
    padding: auto;
    width: 180px;
    display: flex;
}
.powerful-start {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.65));
    margin-bottom: 1rem;
}
.header-title h1 { 
    justify-content:center;
    align-items: center;
    font-size: 28px;
    display: flex;
    margin-bottom: 1rem;
    background-color: #FFCCFF;
    border-radius: 10px;
    width: 40%;
    letter-spacing: 5px;
}
.powerful {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.pw-left {
    width: 450px;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.pw-left img {
    width: 100%;
    margin-bottom: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.65));
    border-radius: 10px;
}
.pw-right>h4 {
    background-color: #CC99FF;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.pw-right>h3 {
    background-color: #CC99FF;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    width: 100%;
}
.pw-right>h2 {
    background-color: #CC99FF;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    width: 100%;
}
.LOGO:hover {
    background-color: #ebebeb;
}
.LOGO:active {
    background-color: #111b47;
}
.pw-left>img:hover {
    background-color: #ebebeb;
    border:solid;
    border-width: 10px;
    border-color: pink;
}
.pw-left>img:active {
    background-color: #111b47;
}
.pw-right {
    width: 555px;
    background-position: center;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.pw-right h2{
    font-size: clamp(16px, 2.5vw, 32px);
    line-height: clamp(16px, 2.5vw, 28px);
    margin-bottom: 1rem;
    color: #111b47;
}
.pw-right h3{
    font-size: clamp(16px, 2.5vw, 32px);
    line-height: clamp(16px, 2.5vw, 28px);
    margin-bottom: 1rem;
    color: #111b47;
}
.pw-right h4{
    font-size: clamp(16px, 2.5vw, 32px);
    line-height: clamp(16px, 2.5vw, 28px);
    margin-bottom: 1rem;
    color: #111b47;
}
.pw-right p{
    width: 100%;

}
.footer-bottom {
    padding: auto;
    width: 100%;
    height: 35px;
    text-align: right;
    background-color: #87CEFA;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}    
.btm-menu {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: arial;
    font-weight: bold;
    position: relative;
    color: green;
    margin-right: 0.5rem;
}
